@font-face {
  font-family: fira-sans-medium;
  src: url(./fonts/fira-sans-medium.otf);
}

@font-face {
  font-family: fira-sans-extra-light;
  src: url(./fonts/fira-sans-extra-light.otf);
}

:global(body) {
  font-family: fira-sans-extra-light;
}

:global(h1) {
  margin: 0;
  padding: 10px;
  font-family: fira-sans-medium;
  color: tomato;
  border-bottom: 1px solid tomato;
}

:global(p) {
  margin-left: 20px;
}
